/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;1,9..40,400&family=DM+Serif+Display:ital@0;1&family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: rgb(29, 28, 28);
    font-family: 'DM Sans', sans-serif;
    background-color: #FAF9F6;
}

h1 {
    font-family: 'DM Serif Display', Serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 0.5rem;
    font-size: 130%;
}

h2 {
    font-family: 'DM Serif Display', Serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(29, 28, 28);
}

 #cover-text {
   font-size: 70%;
   text-align: center;
   width: 100%;
   bottom: 30px;
   padding: 40px 0;
}
#cover-text>h2 {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(29, 28, 28);
    font-family: 'DM Serif Display', Serif;
}

#home {
    display: flex;
}

/* Header */
header {
    background-color: #FAF9F6;
    padding: 0 1rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: rgb(29, 28, 28);
    font-size: 100%;
}

#menu {
    font-size: 120%;
    letter-spacing: 1px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 0.5em;
    margin-top: 7px;

}

.active {
    border-bottom: 1px solid rgb(29, 28, 28); 
}

/* Nav bar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #FAF9F6;
    width: 100%;
    left:0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.4);
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Make main element to take up surplus space to push the footer down */
    flex: 1 0 auto;
    margin-top: 41.5px;
    flex-direction: column;
    display: flex;
}

/* Hero section */
#hero {
   height: 600px;
   width: 100%;
   background: url("../images/hero-image.jpg") no-repeat center center/cover;
}

    /* About me */
    #about-me {
        width: 100%;
        margin: auto;
        display: inline-flex;
        background-color: #FAF9F6;
      
    }
    #about-me h2 {
        font-size: 120%;
        text-align: center;
        font-family: 'DM Serif Display', Serif;
    }
    #about-me h3 {
        font-size: 100%;
        font-family: 'DM Serif Display', Serif;
    }

    #bio {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        text-align: justify;
        margin-top: 10px;
    }
 
    #bio h3 {
        text-align: center;
        font-size: 100%;
        padding: 5px;
       
    }
    #bio p {
        text-align: justify;
    }
    /* Testimonials section*/

    #container {
        display: flex;
        flex-wrap: wrap;
    }

   #container div {
        text-align: center;
        background-color: rgba(208,195,195,0.4);
        padding: 15px;
        flex-basis: 200px;
        flex-grow: 1;
   }
   #testimonials h2 {
    text-align: center;
    font-size: 120%;
   }
   #testimonials {
    padding: 10px 40px;
    margin-bottom: 20px;
   }
   #testimonials p {
    text-align: justify;
    font-style: italic;
   }

    /* Treatments page */

    #services {
        margin: 20px auto;
        padding: 0 10px;
    }

    #services h2 {
        margin-bottom: 15px;
        text-align: center;
        font-size: 120%;
        text-decoration: underline;
        font-family: 'DM Serif Display', Serif;
        margin-top: 10px;
    }
    #treatments-large {
    display: none;
    }
    footer a {
        color: rgb(29, 28, 28);
    }

    /* Media query for mobile screens */
    @media screen and (min-width: 280px){
        #services img {
            max-width: 100%;
            height: auto;
        }

        table {
            width: 100%;}
          
        tr {
            grid-template-columns: 2fr 2fr 2fr;
        }
        tr,td {
            text-align: center;
        }
        td {
            border: 0.5px solid black;
            padding: 5px;
        }
    
    #treatments {
        background-color: rgba(208,195,195,0.4);
        padding: 10px 20px;
    }
    table {
        background-color: rgba(208,195,195,0.4);
    }

    /* Home Page testimonials section */
    #testimonials {
        padding: 0px 16px;
        margin-top: 15px;
    }
    img {
        width: 100%;
    }
}


    hr {
        border-top: 1px solid rgb(29, 28, 28);
        margin: 5px 0;
    }
   
     /* Contact page */
#get-in-touch {
background-image: url("../images/greenleaf.webp");
background-size: cover;
background-position: 75%;
padding: 20px 10% 0 10%;
flex-grow: 1;
position: relative;
}

#get-in-touch h2 {
    font-size: 110%;
    margin-bottom: 20px;
    font-family: 'DM Serif Display', Serif;
}

#contact {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 2em;
   
}

.text-input {
    width: 100%;
    height: 25px;
    margin: 5px 0 5px 0;
    border: 1px solid;
}

textarea {
    width: 100%;
    height: 80px;
    margin: 5px 0 5px 0;
    border: 1px solid;
    font-family: 'DM Sans',serif;
}

.send {
    margin-top: 20px;
    font-size: 100%;
    padding: 5px 5px;
    border: 1px solid;
    cursor: pointer;
}
button[type="submit"]{
    color:rgb(29, 28, 28)!important;
    padding: 5px 5px;
    font-size: 100%;
    background-color: white !important;
}

/* Footer */
footer {
    background-color: #FAF9F6;
    text-decoration: none;
    text-align: center;
    height: 150px;
}

#social-networks {
    color: rgb(29, 28, 28);
    display: block;
    text-align: center;
    padding-bottom: 15px;

}

#social-networks i {
    color: rgb(29, 28, 28);
    font-size: medium;
    padding: 2%;
}

footer p {
    text-decoration: underline;
    text-align: center;
    color:rgb(29, 28, 28);
}

footer h3 {
    margin-top: 1rem;
    text-align: center;
    font-family: 'DM Serif Display', Serif;
}

/* Media query: tablets and larger (768px and up */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 2px; 
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 130%;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 210%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main Content */
    main {
        /* Push main content down to accomodate larger header */
        margin-top: 41.5px;
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

      #cover-text {
        font-size: 120%;
        text-align: center;
        width: 100%;
        padding: 80px 0;
        margin-top: 50px;
    
     }
     #cover-text>h2 {
         background-color: rgba(255, 255, 255, 0.7);
         color: rgb(29, 28, 28);
     }

    /* Treatments page */

#services {
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

#services h2 {
    font-size: 150%;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'DM Serif Display', Serif;
}

#treatments p, summary {
   font-size: 200%;
}
#treatments {
    margin-top: 50px;
}
img {
    width: 100%;
    margin: 20px auto;
    padding: 5px 10px;
}
#treatments {
    display: none;
}
#treatments-large {
    display: block;
    }
    .treatment-container {
        display: flex;
        flex-direction: column;
    }
    .treatment-item {
        background: rgba(255,255,255,0.6);
        padding: 20px;
        margin-bottom: 20px;
        width: 100%;
        color: rgb(29, 28, 28);
    
    }
    .treatment-item h3 {
         margin-bottom: 10px;
         color: rgb(29, 28, 28);
         text-transform: uppercase;
         font-size: 130%;
         font-family: 'DM Serif Display','Serif';
         text-align: center;
         
    }
    .treatment-item p {
        font-size: 150%;
    }
  .treatment-container {
    background: url("../images/whiteflowers.jpg") no-repeat center/cover;
    }

    #discounts h2 {
     margin-top: 20px;
    }
table {
    table-layout: fixed;
}
#testimonials {
    padding: 0 40px;
    margin-top: auto;
}
   
    /* Contact page */

    #get-in-touch {
    background-position: center;
}

#contact {
    font-size: 140%;
    margin-top: 15%;
}
.text-input {
    height: 50px;
    font-size: 100%;
}
#bio {
    font-size: 100%;
    padding: 40px;
    padding-right: 40px;
    margin-top: auto;
 }
}

textarea {
    height: 150px;
    font-size: 100%;
    font-family: 'DM Sans',serif;
}

 
 /* About me section */

 #bio h2 {
    font-size: 120%;
 }
 #bio p {
    font-size: 100%;
 }

 footer {
    max-height: 150px;
 }
 #social-networks i {
    font-size: 200%;
 }

/* Media query: laptops and larger (992px and up */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid rgb(29, 28, 28);
    }
    
 #cover-text {
    text-align: center;
    width: 90%;
    margin-right: 5%;
    float: right;
    color:rgb(0, 0, 0, 0.4);
    
 }

 #cover-text>h2 {
     background-color: rgba(255, 255, 255, 0.7);
     color: rgb(29, 28, 28);
}

.image-container {
    display: flex;
    align-items: center;
}
.image {
    flex-basis: 60%;
}
img {
    max-width: 100%;
}
.text {
   
    padding-left: 20px;
}
/* Header */
#logo {
    font-size: 210%;
}
header a {
    font-size: 100%;
    
}

/* Treatments page */

details {
    font-size: 160%;
}
#services h2 {
    font-size: 180%;
}

/* Contact page */

#get-in-touch {
    width: 100%;
    background-position: 75%;
}
}


