/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;1,9..40,400&family=DM+Serif+Display:ital@0;1&family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: rgb(29, 28, 28);
    font-family: 'DM Sans', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: rgb(29, 28, 28);
    padding: 0 1rem;
}
h1 {
    font-family: 'DM Serif Display', Serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-bottom: 0.5rem;
}

#menu {
    font-size: 120%;
    letter-spacing: 1x;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;

}
/* Style for navigation bar buttons */
nav a {
        border-radius: 50%;
        width: 8rem;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        border: 2px rgb(29, 28, 28);
        border-radius: 20px;
}

/* Change color on hover */

.active {
    border-bottom: 1px solid rgb(29, 28, 28);
}

/* Nav bar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.4);
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
display: block;
}

#nav-toggle {
    display:none;
}

.nav-toggle-label {
    font-size: 2rem;
}
/* Main content */
main {
    background: #f5f9f6;
    /* Make main element to take up surplus space to push the footer down */
    flex: 1 0 auto;
    margin-top: 50px;
}

/* Footer */
footer {
    background-color: lightgrey;
}