/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;1,9..40,400&family=DM+Serif+Display:ital@0;1&family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vw;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: rgb(29, 28, 28);
    font-family: 'DM Sans', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 2rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.4)
}

header a {
    text-decoration: none;
    color: rgb(29, 28, 28);
}
h1 {
    font-family: 'DM Serif Display', Serif;
    text-transform: capitalize;
    letter-spacing: 1px;
}

/* Main content */
main {
    background: lightslategray;
    /* Make main element to take up surplus space to push the footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: lightgrey;
}